uv.lock
Sandman.egg-info/
data/mice-ibl/*
data/mice-MAPS/*
data/synthetic/*
data/monkeys/*
Writeup/*.bbl
Writeup/*.synctex.gz
Writeup/*.aux
Writeup/*.log
Writeup/*.out
Writeup/*.toc
.vscode/
.venv/
__pycache__/
*.pyc